/* .class #id*/
body{
    display: flex;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.888);
    }
    .container{
    
        width: 480px;
        height: 380px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-style:solid;
        border-color:rgba(58, 51, 255, 0.973) ;
        background-color: rgb(255, 195, 205);
        border-radius: 10px;
        
       
    }

    p{
        font-weight: bolder;
        font-size: 35px;
        /* margin-bottom: 5px; */
        margin-top: 0px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       

    }
    div input{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 25px;
        margin-left: 8px;
        border-style:dashed;
        border-color: rgba(109, 104, 255, 0.973);;
        border-radius: 5px;
        font-size:16px;
        color: black;
        text-align: center;

       
    
        
        
    }

   
    ::placeholder{
        
        padding: 40px ;
    }

    #fromDistance{
        margin-right: 20px;
        font-size:14px;
    }
    #toDistance{
        margin-right: 20px;
        font-size:14px;
    }
    #fromWeight{
        margin-right: 20px;
        font-size:14px;
    }
    #toWeight{
        margin-right: 20px;
        font-size:14px;
    }
    
    div button{
        padding: 2px;
        margin : 18px 15px;
        color: rgb(255, 255, 255);
        align-items: center;
        font-weight: bolder;
        font-size: larger;
       
        background-color: rgba(58, 51, 255, 0.973);
        height:30px;
        width : 50px;
    
    }

    #clicktoconvertDis{
        font-weight: lighter;
        font-size: 15px;
        padding: 5px;
        margin-top: 20px;
        align-items:center ;
        height:auto;
        width: 150px;
        border-radius: 5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #clicktoconvertWei{
        font-weight: lighter;
        font-size: 15px;
        padding: 5px;
        margin-top: 20px;
        align-items:center ;
        height:auto;
        width: 150px;
        border-radius: 5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    label{
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    ul.list{
        list-style-type: none;
        text-align: center;
        padding-left: 0px;
        justify-content: center;
        justify-items: center;
        
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    a:link{ /*when the link is not visited*/
        color: black;
        text-decoration: none; /*link underline will be removed*/
    }

    a:hover{/*when mouse hover over link*/
        color: rgb(17, 0, 255);
    }

    

    li.list-order{
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.684);
        font-size: 35px;
        border-style:inset;
        margin: 30px; /* separates each box of list order, else they get attached*/
        
        border-radius: 10px; /*curves border*/
        
        
    }