body{
    display: flex;
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.888);
    }
    .container{
    
        width: 350px;
        height: 250px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-style:solid;
        border-color:rgba(58, 51, 255, 0.973) ;
        background-color: rgb(255, 195, 205);
        border-radius: 10px;
        
       
    }
    div input{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-style:dashed;
        border-color: rgba(109, 104, 255, 0.973);;
        border-radius: 5px;
        font-size:13px;
        color: black;
        
        
    }
    
    div button{
        padding: 2px;
        margin : 15px 10px;
        color: rgb(255, 255, 255);
        align-items: center;
        font-weight: bolder;
        font-size: larger;
       
        background-color: rgba(58, 51, 255, 0.973);
        height:30px;
        width : 50px;
    
    }